@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap');

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 48px;
  font-weight: 600;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  .container {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

a {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.mail {
  padding-top: 48px;
  font-weight: bold;
}

.container {
  padding-top: 6%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
}
