@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap');

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
  transition: 2s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1:hover {
  cursor: pointer;
  color: #6681CC;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  padding-bottom: 14px;
}

.container {
  padding-top: 9%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

@media only screen and (max-width: 680px) {
  .container {
    padding-top: 9%;
    padding-bottom: 10%;
    padding-left: 7%;
    padding-right: 7%;
  }

  h1:hover {
    color: #000;
  }
}
