@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap');

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
}

h1:hover {
  cursor: pointer
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  padding-bottom: 14px;
}

input {
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-decoration: none;
  background: #fff;
  color: black;
  box-shadow: 2px 2px #999;
}

input:hover {
  cursor: pointer;
}

input:active {
  box-shadow: 1px 1px #666;
  transform: translateY(2px);
}

.container {
  padding-top: 9%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

@media only screen and (max-width: 680px) {
  .container {
    padding-top: 9%;
    padding-bottom: 10%;
    padding-left: 7%;
    padding-right: 7%;
  }
}
